<div class='row'>
  <div class='col s8 offset-s2 white-text'>
    <%= form_for([@recipe, @recipe.comments.build]) do |f| %>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :content %>
        <%= f.text_area :content %>
      </p>
      <p>
        <%= f.submit 'ADD', class: 'btn' %>
      </p>
    <% end %>
  </div>
</div>