<ul>
  <% obj.each { |recipe| %>
  <div class='card'>
    <li class='center-align recipe'>
      <span class="title">
        <h5><%= link_to recipe.bean.name, recipe_path(recipe)%> (<%= recipe.rate%>/5)</h5>
      </span>
      <p><%= truncate(recipe.description, length: 50) %></p>
      <hr>
      <small>Created by <%= recipe.user.email%> <br>
        <%= time_ago_in_words(recipe.created_at) %> age,
        last updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small>
    </li>
  </div>
  <% } %>
</ul>