<div class='center-align'>
    <div>
        <%= will_paginate %>
    </div>
    <h4>List of all recipes(<%=@recipes.count%>)</h4>
        <%= form_tag table_path, method: :get do %>
        <p class='row'>
            <%= text_field_tag :search, params[:search], class: 'col s12 m10 l10' %>
            <%= submit_tag "Search", :bean => nil, class: 'btn col s12 m2 l2' %>
        </p>
    <% end %>
    <table class="responsive-table highlight striped centered">
        <thead>
            <tr>
            <th>Roaster</th>
            <th>Name</th>
            <th>Temperature</th>
            <th>Water</th>
            <th>Dose</th>
            <th>Time</th>
            <th>Method</th>
            <th>Grinder</th>
            <th>Clicks</th>
            <th>Rate [1-5]</th>
            <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            <% @recipes.each do |recipe| %>
            <tr>
                <td><%= link_to recipe.roaster.name, roaster_path(recipe.roaster) %></td>
                <td><%= link_to truncate(recipe.bean.name, length: 25), recipe_path(recipe) %></td>
                <td><% if recipe.temperature %><%= recipe.temperature%>C<%else%> na <%end%></td>
                <td><% if recipe.water %><%= recipe.water%>ml <%else%><%end%></td>
                <td><% if recipe.dose %> <%= recipe.dose%>g <%else%><%end%></td>
                <td><% if recipe.time %> <%= recipe.time.strftime('%H:%M')%> <%else%><%end%></td>
                <td><% if recipe.method %> <%= recipe.method%> <%else%><%end%></td>
                <td><% if recipe.grinder %> <%= recipe.grinder%><%else%><%end%></td>
                <td><% if recipe.clicks %> <%= recipe.clicks%><%else%><%end%></td>
                <td><% if recipe.rate %> <%= recipe.rate%><%else%><%end%></td>
                <td><%= recipe.favorites.count %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>