<div class='center-align'>
    <div>
        <%= will_paginate %>
    </div>
    <h4>List of all recipes</h4>
    <table class="responsive-table highlight striped centered">
        <thead>
            <tr>
            <th>Name</th>
            <th>Temperature</th>
            <th>Water</th>
            <th>Dose</th>
            <th>Time</th>
            <th>Method</th>
            <th>Grinder</th>
            <th>Clicks</th>
            <th>Rate [1-5]</th>
            </tr>
        </thead>
        <tbody>
            <% @recipes.each do |recipe| %>
            <tr>
                <td><%= link_to recipe.bean.name, recipe_path(recipe) %></td>
                <td><% if recipe.temperature %><%= recipe.temperature%>C<%else%> na <%end%></td>
                <td><% if recipe.water %><%= recipe.water%>ml <%else%><%end%></td>
                <td><% if recipe.dose %> <%= recipe.dose%>g <%else%><%end%></td>
                <td><% if recipe.time %> <%= recipe.time.strftime('%H:%M')%> <%else%><%end%></td>
                <td><% if recipe.method %> <%= recipe.method%> <%else%><%end%></td>
                <td><% if recipe.grinder %> <%= recipe.grinder%><%else%><%end%></td>
                <td><% if recipe.clicks %> <%= recipe.clicks%><%else%><%end%></td>
                <td><% if recipe.rate %> <%= recipe.rate%><%else%><%end%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>