<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Coffee Receips</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Recipes
                <i class="material-icons right">arrow_drop_down</i>
            </a></li>            
            <li><a class="dropdown-trigger" href="#" data-target="dropdown3">Coffee
                <i class="material-icons right">arrow_drop_down</i>
            </a></li>
            <li><%= link_to 'Roasters', roasters_path%></li>
            <li><%= link_to 'Users', users_path%></li>
            <li><%= link_to 'Account', edit_user_path(current_user)%></li>
        </ul>
    </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Recipes', recipes_path%></li>
    <li><%= link_to 'Table', table_path%></li>
    <li><%= link_to 'Add', new_recipe_path%></li>
    <li><%= link_to 'Favorites', favorites_path%></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><%= link_to 'Recipes', recipes_path%></li>
    <li><%= link_to 'Table', table_path%></li>
    <li><%= link_to 'Add', new_recipe_path%></li>
    <li><%= link_to 'Favorites', favorites_path%></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
    <li><%= link_to 'Coffees', beans_path%></li>
    <li><%= link_to 'Add', new_bean_path%></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
    <li><%= link_to 'Coffees', beans_path%></li>
    <li><%= link_to 'Add', new_bean_path%></li>
</ul>

<ul class="sidenav" id="mobile-demo">
    <li><a class="dropdown-trigger" href="#" data-target="dropdown2">Recipes
        <i class="material-icons right">arrow_drop_down</i>
    </a></li>
    <li><a class="dropdown-trigger" href="#" data-target="dropdown4">Coffee
        <i class="material-icons right">arrow_drop_down</i>
    </a></li>
    <li><%= link_to 'Roasters', roasters_path%></li>
    <li><%= link_to 'Users', users_path%></li>
    <li><%= link_to 'Account', edit_user_path(current_user)%></li>
</ul>